#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	# conf-home is patched to /usr by debian-install-paths.patch
	# package/compile creates the compile/ shadow tree and runs make
	package/compile base

override_dh_auto_build:
	# Build is done by package/compile in the configure step

override_dh_auto_install:
	install -d debian/ucspi-ssl/usr/bin
	for cmd in `cat package/commands-base`; do \
	  install -m 0755 command/$$cmd debian/ucspi-ssl/usr/bin/$$cmd || exit 1; \
	done
	for f in man/*.1 man/*.2; do \
	  [ -f "$$f" ] || continue; \
	  sect=$${f##*.}; \
	  install -d debian/ucspi-ssl/usr/share/man/man$$sect; \
	  install -m 0644 $$f debian/ucspi-ssl/usr/share/man/man$$sect/; \
	done

override_dh_auto_clean:
	rm -rf compile command
